In [1]:
import pandas as pd

#LOAD DATA

In [2]:
data=pd.read_csv("C:/Users/vikra/Downloads/sales.csv")

In [3]:
data.head(10)

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
5,California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
6,California,25.0,Mint,90.0,Major Market,26.0,West,12,Herbal Tea,541.0,Decaf
7,California,43.0,Darjeeling,276.0,Major Market,120.0,West,31,Tea,897.0,Regular
8,California,32.0,Earl Grey,187.0,Major Market,79.0,West,21,Tea,580.0,Regular
9,California,142.0,Columbian,687.0,Major Market,364.0,West,90,Coffee,2067.0,Regular

In [4]:
data.tail(10) #data.tail()

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
4231,Wisconsin,25.0,Lemon,123.0,Small Market,64.0,Central,13,Herbal Tea,772.0,Decaf
4232,Wisconsin,40.0,Darjeeling,137.0,Small Market,41.0,Central,17,Tea,382.0,Regular
4233,Wisconsin,38.0,Darjeeling,110.0,Small Market,27.0,Central,14,Tea,410.0,Regular
4234,Wisconsin,35.0,Darjeeling,99.0,Small Market,24.0,Central,12,Tea,443.0,Regular
4235,Wisconsin,33.0,Darjeeling,90.0,Small Market,21.0,Central,11,Tea,462.0,Regular
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [5]:
data.shape

(4241, 11)

#PANDAS DATAFRAMES AND SERIES

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4241 entries, 0 to 4240
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           4241 non-null   object
 1   Total Expenses  4238 non-null   float64
 2   Product         4241 non-null   object
 3   Sales           4239 non-null   float64
 4   Market Size     4241 non-null   object
 5   Profit          4235 non-null   float64
 6   Market          4241 non-null   object
 7   Marketing       4241 non-null   int64
 8   Product Type    4241 non-null   object
 9   Inventory       4240 non-null   float64
 10  Type            4241 non-null   object
dtypes: float64(4), int64(1), object(6)
memory usage: 364.6+ KB

In [8]:
data.describe()

       Total Expenses        Sales       Profit    Marketing    Inventory
count     4238.000000  4239.000000  4235.000000  4241.000000  4240.000000
mean        53.989146   192.567351    60.840614    31.124499   747.971226
std         32.295812   150.563621   101.301672    26.983618   660.498475
min         10.000000    17.000000  -638.000000     0.000000 -3534.000000
25%         33.000000   100.000000    17.000000    13.000000   431.500000
50%         46.000000   138.000000    40.000000    22.000000   619.000000
75%         65.000000   230.000000    92.000000    39.000000   901.000000
max        190.000000   912.000000   778.000000   156.000000  8252.000000

In [9]:
insects=['Ant','Cricket',"Bee"]

In [10]:
type(insects)

list

In [11]:
pd.DataFrame(insects)

         0
0      Ant
1  Cricket
2      Bee

In [41]:
insect=pd.DataFrame(insects,columns=['Insects'])
insect

   Insects
0      Ant
1  Cricket
2      Bee

In [14]:
animals={'Mammals':['Cow','Sheep','Lion'],
         'Reptiles':['Crocodile','Lizard','Snake'],
         'Insects':['Ant','Cricket','Bee']}

In [15]:
type(animals)

dict

In [16]:
animal=pd.DataFrame(animals)
animal

  Mammals   Reptiles  Insects
0     Cow  Crocodile      Ant
1   Sheep     Lizard  Cricket
2    Lion      Snake      Bee

In [17]:
animal['Mammals']

0      Cow
1    Sheep
2     Lion
Name: Mammals, dtype: object

In [18]:
animal.Reptiles

0    Crocodile
1       Lizard
2        Snake
Name: Reptiles, dtype: object

In [19]:
type(animal.Reptiles) #single column in python is known as series

pandas.core.series.Series

In [20]:
animal.iloc[0]

Mammals           Cow
Reptiles    Crocodile
Insects           Ant
Name: 0, dtype: object

In [21]:
animal.iloc[1]

Mammals       Sheep
Reptiles     Lizard
Insects     Cricket
Name: 1, dtype: object

In [22]:
type(animal.iloc[1])

pandas.core.series.Series

In [23]:
animal.iloc[[0,1]]

  Mammals   Reptiles  Insects
0     Cow  Crocodile      Ant
1   Sheep     Lizard  Cricket

INDEXES

In [24]:
data.head()

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf

In [25]:
data.iloc[4] #iloc stond for integer location. we are accessing row through this command

State               California
Total Expenses            37.0
Product              Chamomile
Sales                    247.0
Market Size       Major Market
Profit                   148.0
Market                    West
Marketing                   26
Product Type        Herbal Tea
Inventory                809.0
Type                     Decaf
Name: 4, dtype: object

In [28]:
data=pd.read_csv("C:/Users/vikra/Downloads/sales.csv",index_col='State')

In [29]:
data.head(10)

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
California,25.0,Mint,90.0,Major Market,26.0,West,12,Herbal Tea,541.0,Decaf
California,43.0,Darjeeling,276.0,Major Market,120.0,West,31,Tea,897.0,Regular
California,32.0,Earl Grey,187.0,Major Market,79.0,West,21,Tea,580.0,Regular
California,142.0,Columbian,687.0,Major Market,364.0,West,90,Coffee,2067.0,Regular

In [30]:
data.loc['California']

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
California,31.0,Mint,132.0,Major Market,43.0,West,19,Herbal Tea,548.0,Decaf
California,36.0,Darjeeling,238.0,Major Market,142.0,West,25,Tea,777.0,Regular
California,40.0,Darjeeling,274.0,Major Market,166.0,West,31,Tea,897.0,Regular
California,33.0,Earl Grey,198.0,Major Market,84.0,West,22,Tea,441.0,Regular
California,83.0,Caffe Latte,451.0,Major Market,191.0,West,59,Espresso,1778.0,Regular

In [31]:
data.loc['Colorado']

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
Colorado,39.0,Amaretto,243.0,Major Market,105.0,Central,27,Coffee,766.0,Regular
Colorado,36.0,Amaretto,227.0,Major Market,134.0,Central,24,Coffee,756.0,Regular
Colorado,45.0,Amaretto,322.0,Major Market,199.0,Central,34,Coffee,959.0,Regular
Colorado,39.0,Columbian,190.0,Major Market,68.0,Central,27,Coffee,584.0,Regular
Colorado,39.0,Columbian,202.0,Major Market,101.0,Central,27,Coffee,613.0,Regular
...,...,...,...,...,...,...,...,...,...,...
Colorado,34.0,Earl Grey,91.0,Major Market,16.0,Central,12,Tea,1046.0,Regular
Colorado,40.0,Earl Grey,145.0,Major Market,50.0,Central,19,Tea,958.0,Regular
Colorado,41.0,Earl Grey,144.0,Major Market,47.0,Central,19,Tea,952.0,Regular
Colorado,37.0,Earl Grey,126.0,Major Market,40.0,Central,16,Tea,1037.0,Regular
Colorado,37.0,Earl Grey,124.0,Major Market,39.0,Central,16,Tea,1054.0,Regular

In [32]:
new_data=data.head()
new_data

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf

In [33]:
indexes=['One','Two','Three','Four','Five']

In [34]:
new_data.set_index([indexes],inplace=True)

In [35]:
new_data

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
One,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
Two,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
Three,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
Four,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
Five,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf

In [108]:
new_data.loc['Two']

Total Expenses            55.0
Product              Green Tea
Sales                    201.0
Market Size       Major Market
Profit                    88.0
Market                    West
Marketing                   24
Product Type               Tea
Inventory                659.0
Type                   Regular
Name: Two, dtype: object

In [109]:
new_data.loc['Five']

Total Expenses            37.0
Product              Chamomile
Sales                    247.0
Market Size       Major Market
Profit                   148.0
Market                    West
Marketing                   26
Product Type        Herbal Tea
Inventory                809.0
Type                     Decaf
Name: Five, dtype: object

In [110]:
type(new_data.loc['Five'])

pandas.core.series.Series

#FILTERING DATA

In [111]:
data

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [42]:
highest_sales=(data['Sales']>300)

In [43]:
highest_sales

State
California    False
California    False
California    False
California     True
California    False
              ...
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Wisconsin     False
Name: Sales, Length: 4241, dtype: bool

In [44]:
data.loc[highest_sales]

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
California,142.0,Columbian,687.0,Major Market,364.0,West,90,Coffee,2067.0,Regular
California,166.0,Columbian,902.0,Major Market,508.0,West,127,Coffee,2617.0,Regular
California,139.0,Columbian,664.0,Major Market,349.0,West,87,Coffee,2580.0,Regular
...,...,...,...,...,...,...,...,...,...,...
Washington,71.0,Chamomile,329.0,Small Market,171.0,West,40,Herbal Tea,932.0,Decaf
Washington,73.0,Chamomile,334.0,Small Market,171.0,West,41,Herbal Tea,1119.0,Decaf
Washington,75.0,Chamomile,347.0,Small Market,179.0,West,40,Herbal Tea,961.0,Decaf
Wisconsin,149.0,Columbian,317.0,Small Market,35.0,Central,120,Coffee,705.0,Regular
Wisconsin,139.0,Columbian,314.0,Small Market,48.0,Central,120,Coffee,705.0,Regular

In [45]:
data.loc[highest_sales,['Product','Profit','Sales']]

                   Product  Profit  Sales
State
California  Decaf Espresso   216.0  576.0
California           Lemon   291.0  582.0
California       Columbian   364.0  687.0
California       Columbian   508.0  902.0
California       Columbian   349.0  664.0
...                    ...     ...    ...
Washington       Chamomile   171.0  329.0
Washington       Chamomile   171.0  334.0
Washington       Chamomile   179.0  347.0
Wisconsin        Columbian    35.0  317.0
Wisconsin        Columbian    48.0  314.0

[669 rows x 3 columns]

In [46]:
data['Product'].unique()

array(['Amaretto', 'Green Tea', 'Caffe Mocha', 'Decaf Espresso',
       'Chamomile', 'Lemon', 'Mint', 'Darjeeling', 'Earl Grey',
       'Columbian', 'Caffe Latte', 'Decaf Irish Cream',
       'Regular Espresso'], dtype=object)

In [47]:
product=['Green Tea','Lemon','Mint']

In [48]:
filt=data['Product'].isin(product)

In [49]:
data.loc[filt]

,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
State,,,,,,,,,,
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
California,25.0,Mint,90.0,Major Market,26.0,West,12,Herbal Tea,541.0,Decaf
California,54.0,Green Tea,168.0,Major Market,47.0,West,22,Tea,677.0,Regular
California,88.0,Lemon,467.0,Major Market,165.0,West,66,Herbal Tea,923.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,25.0,Lemon,143.0,Small Market,80.0,Central,16,Herbal Tea,842.0,Decaf
Wisconsin,20.0,Lemon,83.0,Small Market,40.0,Central,8,Herbal Tea,856.0,Decaf
Wisconsin,21.0,Lemon,91.0,Small Market,45.0,Central,9,Herbal Tea,863.0,Decaf
Wisconsin,27.0,Lemon,144.0,Small Market,58.0,Central,16,Herbal Tea,842.0,Decaf
Wisconsin,25.0,Lemon,123.0,Small Market,64.0,Central,13,Herbal Tea,772.0,Decaf

UPDATING ROWS AND COLUMNS

In [50]:
data.columns

Index(['Total Expenses', 'Product', 'Sales', 'Market Size', 'Profit', 'Market',
       'Marketing', 'Product Type', 'Inventory', 'Type'],
      dtype='object')

In [51]:
data.Product

State
California          Amaretto
California         Green Tea
California       Caffe Mocha
California    Decaf Espresso
California         Chamomile
                   ...
Wisconsin         Darjeeling
Wisconsin         Darjeeling
Wisconsin          Earl Grey
Wisconsin          Earl Grey
Wisconsin          Earl Grey
Name: Product, Length: 4241, dtype: object

In [54]:
data.columns=data.columns.str.replace(' ','_')   #this also did not work lecture 5

In [55]:
data.head()

,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Marketing,Product_Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf

In [56]:
data.Product_Type

State
California        Coffee
California           Tea
California      Espresso
California      Espresso
California    Herbal Tea
                 ...
Wisconsin            Tea
Wisconsin            Tea
Wisconsin            Tea
Wisconsin            Tea
Wisconsin            Tea
Name: Product_Type, Length: 4241, dtype: object

In [57]:
data.rename(columns={'Marketing':'Trade',},inplace=True)

In [58]:
data

,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [61]:
data.loc[2,'Total_Expenses']=500

In [62]:
data

,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40.0,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24.0,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109.0,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81.0,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26.0,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14.0,Tea,454.0,Regular
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57.0,Tea,506.0,Regular
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49.0,Tea,627.0,Regular
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58.0,Tea,513.0,Regular
2,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
data.at[2,'Total_Expenses']=300   #this was in the fifth lecture of pandas on udemy did not work
data

,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type
State,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40.0,Coffee,2947.0,Regular
California,55.0,Green Tea,201.0,Major Market,88.0,West,24.0,Tea,659.0,Regular
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109.0,Espresso,788.0,Regular
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81.0,Espresso,1744.0,Decaf
California,37.0,Chamomile,247.0,Major Market,148.0,West,26.0,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14.0,Tea,454.0,Regular
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57.0,Tea,506.0,Regular
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49.0,Tea,627.0,Regular
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58.0,Tea,513.0,Regular
2,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
new_column=data['Total_Expenses']+data['Sales']

In [67]:
new_column

State
California    172.0
California    256.0
California    432.0
California    689.0
California    284.0
              ...
Wisconsin     149.0
Wisconsin     236.0
Wisconsin     210.0
Wisconsin     252.0
2               NaN
Length: 4242, dtype: float64

In [68]:
data['New_Column']=new_column

In [69]:
data

,Total_Expenses,Product,Sales,Market_Size,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
State,,,,,,,,,,,
California,63.0,Amaretto,109.0,Major Market,-131.0,West,40.0,Coffee,2947.0,Regular,172.0
California,55.0,Green Tea,201.0,Major Market,88.0,West,24.0,Tea,659.0,Regular,256.0
California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109.0,Espresso,788.0,Regular,432.0
California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81.0,Espresso,1744.0,Decaf,689.0
California,37.0,Chamomile,247.0,Major Market,148.0,West,26.0,Herbal Tea,809.0,Decaf,284.0
...,...,...,...,...,...,...,...,...,...,...,...
Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14.0,Tea,454.0,Regular,149.0
Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57.0,Tea,506.0,Regular,236.0
Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49.0,Tea,627.0,Regular,210.0
Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58.0,Tea,513.0,Regular,252.0
2,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
data.drop(columns=['Product','Market_Size'],inplace=True)

In [71]:
data

,Total_Expenses,Sales,Profit,Market,Trade,Product_Type,Inventory,Type,New_Column
State,,,,,,,,,
California,63.0,109.0,-131.0,West,40.0,Coffee,2947.0,Regular,172.0
California,55.0,201.0,88.0,West,24.0,Tea,659.0,Regular,256.0
California,143.0,289.0,25.0,West,109.0,Espresso,788.0,Regular,432.0
California,113.0,576.0,216.0,West,81.0,Espresso,1744.0,Decaf,689.0
California,37.0,247.0,148.0,West,26.0,Herbal Tea,809.0,Decaf,284.0
...,...,...,...,...,...,...,...,...,...
Wisconsin,36.0,113.0,31.0,Central,14.0,Tea,454.0,Regular,149.0
Wisconsin,86.0,150.0,1.0,Central,57.0,Tea,506.0,Regular,236.0
Wisconsin,79.0,131.0,-3.0,Central,49.0,Tea,627.0,Regular,210.0
Wisconsin,87.0,165.0,4.0,Central,58.0,Tea,513.0,Regular,252.0
2,300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
data=pd.read_csv('C:/Users/vikra/Downloads/sales.csv')
data.drop(index=0)  #this will work with index as numbers or executing the code in the cells below

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
5,California,99.0,Lemon,582.0,Major Market,291.0,West,77,Herbal Tea,1268.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

SORTING

In [75]:
data=pd.read_csv("C:/Users/vikra/Downloads/sales.csv")

In [76]:
data

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
...,...,...,...,...,...,...,...,...,...,...,...
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular

In [77]:
data.sort_values(by='Sales')

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
1914,Nevada,126.0,Green Tea,17.0,Small Market,-354.0,West,93,Tea,1419.0,Regular
1923,Nevada,124.0,Green Tea,18.0,Small Market,-524.0,West,100,Tea,3742.0,Regular
1917,Nevada,133.0,Green Tea,18.0,Small Market,-380.0,West,100,Tea,3742.0,Regular
2036,Nevada,132.0,Green Tea,19.0,Small Market,-552.0,West,93,Tea,1419.0,Regular
2034,Nevada,147.0,Green Tea,19.0,Small Market,-430.0,West,114,Tea,6413.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
131,California,178.0,Columbian,910.0,Major Market,368.0,West,127,Coffee,2617.0,Regular
2644,New York,178.0,Columbian,912.0,Major Market,370.0,East,127,Coffee,2654.0,Regular
157,California,178.0,Columbian,912.0,Major Market,370.0,West,127,Coffee,2654.0,Regular
502,Colorado,54.0,Decaf Espresso,NaN,Major Market,80.0,Central,23,Espresso,541.0,Decaf
508,Colorado,71.0,Chamomile,NaN,Major Market,99.0,Central,47,Herbal Tea,1073.0,Decaf

In [78]:
data.sort_values(by=['Sales','Inventory'],ascending=False)

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
157,California,178.0,Columbian,912.0,Major Market,370.0,West,127,Coffee,2654.0,Regular
2644,New York,178.0,Columbian,912.0,Major Market,370.0,East,127,Coffee,2654.0,Regular
131,California,178.0,Columbian,910.0,Major Market,368.0,West,127,Coffee,2617.0,Regular
2645,New York,178.0,Columbian,910.0,Major Market,368.0,East,127,Coffee,2617.0,Regular
132,California,166.0,Columbian,904.0,Major Market,511.0,West,127,Coffee,2654.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
1917,Nevada,133.0,Green Tea,18.0,Small Market,-380.0,West,100,Tea,3742.0,Regular
1923,Nevada,124.0,Green Tea,18.0,Small Market,-524.0,West,100,Tea,3742.0,Regular
1914,Nevada,126.0,Green Tea,17.0,Small Market,-354.0,West,93,Tea,1419.0,Regular
508,Colorado,71.0,Chamomile,NaN,Major Market,99.0,Central,47,Herbal Tea,1073.0,Decaf
502,Colorado,54.0,Decaf Espresso,NaN,Major Market,80.0,Central,23,Espresso,541.0,Decaf

In [79]:
data.sort_index(ascending=False
               )

,State,Total Expenses,Product,Sales,Market Size,Profit,Market,Marketing,Product Type,Inventory,Type
4240,Wisconsin,87.0,Earl Grey,165.0,Small Market,4.0,Central,58,Tea,513.0,Regular
4239,Wisconsin,79.0,Earl Grey,131.0,Small Market,-3.0,Central,49,Tea,627.0,Regular
4238,Wisconsin,86.0,Earl Grey,150.0,Small Market,1.0,Central,57,Tea,506.0,Regular
4237,Wisconsin,36.0,Darjeeling,113.0,Small Market,31.0,Central,14,Tea,454.0,Regular
4236,Wisconsin,34.0,Darjeeling,90.0,Small Market,20.0,Central,11,Tea,458.0,Regular
...,...,...,...,...,...,...,...,...,...,...,...
4,California,37.0,Chamomile,247.0,Major Market,148.0,West,26,Herbal Tea,809.0,Decaf
3,California,113.0,Decaf Espresso,576.0,Major Market,216.0,West,81,Espresso,1744.0,Decaf
2,California,143.0,Caffe Mocha,289.0,Major Market,25.0,West,109,Espresso,788.0,Regular
1,California,55.0,Green Tea,201.0,Major Market,88.0,West,24,Tea,659.0,Regular
0,California,63.0,Amaretto,109.0,Major Market,-131.0,West,40,Coffee,2947.0,Regular

In [80]:
data['Product'].sort_values()

0               Amaretto
4031            Amaretto
3498            Amaretto
4030            Amaretto
4029            Amaretto
              ...
1585    Regular Espresso
1584    Regular Espresso
1568    Regular Espresso
1619    Regular Espresso
2316    Regular Espresso
Name: Product, Length: 4241, dtype: object

CLEANING DATA

In [81]:
data.isnull().sum()

State             0
Total Expenses    3
Product           0
Sales             2
Market Size       0
Profit            6
Market            0
Marketing         0
Product Type      0
Inventory         1
Type              0
dtype: int64

In [82]:
data.dropna(inplace=True)

In [83]:
data.isnull().sum()

State             0
Total Expenses    0
Product           0
Sales             0
Market Size       0
Profit            0
Market            0
Marketing         0
Product Type      0
Inventory         0
Type              0
dtype: int64

In [84]:
#saving data file in different types

In [85]:
data.to_csv('C:/Users/vikra/Downloads/New_sales.csv')